/** {
  outline: 1px solid red;
}*/

body {
    margin: 0;
    font-family: 'Google Sans', sans-serif;
}

.app-layout {
    display: grid;
    grid-template-areas: ". header ."
                         ". main ."
                         ". footer .";
    grid-template-columns: minmax(24px, 1fr)
                           minmax(0, min(70%, 1200px))
                           minmax(24px, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-image: url(resources/main_background.jpg);
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header nav {
    width: 50%;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 10px;
    padding: 0;
}

.menu li {
    flex-shrink: 0;
}

.menu li a {
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
}

.selector {
    padding: 5px;
    color: blueviolet;
    transition: background-color 0.2s ease, transform 0.2s ease;
    border-radius: 15px;
}

.selector:hover {
    background-color: lightgray;
    transform: scale(1.25);
}

main {
    grid-area: main;
}

#picture-figure {
    float: left;
    margin: 0 15px 10px 0;
}

#picture-figure figcaption {
    text-align: center;
}

#picture-img {
    width: clamp(200px,28vw, 350px);
}

.about-text {
    font-size: 1rem;
}

#projects {
    clear: left;
}

#projects h3, h4 {
   margin: 10px 0; 
}

.company {
    margin-left: clamp(16px, 2vw, 32px);
}

.project {
    margin-left: clamp(16px, 2vw, 32px);
}

.company-projects, .project-details {
    display: none;
}

.hidden-section-open {
    height: max-content;
}

.company-header, .project-header {
    /*transition: color 0.2s ease, font-size 0.2s ease;*/
    width: max-content;
} 

footer {
    grid-area: footer;
    text-align: center;
}